{% extends 'base.html.twig' %}

{% block title %}Poser une question{% endblock %}

{% block body %}

    <ul>
        {% for question in questions %}
            <div data-id={{question.id}} class="block d-flex flex-row mb-20">
                {% include "partials/_rating.html.twig" with {rating: question.rating, from: 'question', id: question.id} %}
                <div class="flex-fill d-flex flex-column">
                    <a href="{{ path('show_question', {id: question.id})}}" class="mb-20 question-content pb-20">
                        <h3 class="mb-20">{{ question.title }}</h3>
                        <p>{{ question.content }}</p>
                    </a>
                    <div class="d-flex flex-row justify-content-between">
                        <a href="{{path('profile_user', {id: question.author.id})}}" class="d-flex flex-row align-items-center">
                            <img src="{{question.author.image}}" alt="" class="avatar-small mr-20">
                            <small>Demandé par <span class="clickable">{{question.author.fullname}}</span></small>
                        </a>
                        <div class="d-flex flex-row align-items-center">
                            <i class="fa-solid fa-comment mr-20"></i>
                            <p>{{ question.nbResponse }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>

{% endblock %}
