<div class="d-flex flex-column mr-20 align-items-center">
    <a href="{{ path(from ~ '_rating', {id: id, score: 1}) }}">
        <i class="fa-regular fa-thumbs-up {{rating > 0 ? 'rating-up' : ''}}"></i>
    </a>
    <p {% if  rating > 0 %}
        class="rating-up"
    {% elseif rating < 0 %}
        class="rating-down"
    {% endif %}>{{ rating }}</p>
    <a href="{{ path(from ~ '_rating', {id: id, score: -1}) }}">
        <i class="fa-regular fa-thumbs-down {{rating < 0 ? 'rating-down' : ''}}"></i>
    </a>
</div>

