{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block stylessheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/question_show.css')}}>

{% endblock stylessheets %}

{% block body %}

    <div class="block mb-20">
        <h2 class="pb-30">Profil de {{ user.fullname }}</h2>
        <div class="d-flex flex-row-nowrap align-items-center">
            <img src="{{user.image}}" alt="User Avatar" class="mr-10 avatar-small">
            <ul>
                <li class="mb-10">
                    <strong class="mr-10">{{user.email}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="block mb-20">
        <h3 class="pb-30">Ses questions</h3>
        <ul>
            {% for question in user.questions %}

                <a href="{{ path('show_questions', {id: question.id})}}">
                    <li class="pb-30">{{question.title}}</li>
                </a>
                
            {% endfor %}
        </ul>
    </div>
    <div class="block mb-20">
        <h3 class="pb-30">Ses réponses</h3>
        <ul>
            {% for comment in user.comments %}
                <a href="{{ path('show_question', {id: comment.question.id})}}">
                    <div class="d-flex flex-row-nowrap align-items-center pb-20">
                        <p>{{comment.question.title}}</p>
                        <div class="question-tag">QUESTION</div>
                    </div>
                    <li class="pb-30">{{ comment.content | slice(0, 100) }} {% if comment.content | length >= 101 %}
                        ...
                    {% endif %}</li>
                </a>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
